@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 2em 1em;
  color: #555;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

h1, h2, h3, strong {
  color: #333;
}

.pull-right {
  float: right;
}
